extends layout

block content
  h1= title
  p Welcome to #{title}

  p The reason for Pitchdeck is one of the troubles with journalism, is the freelance editor relationship.

  p Many times, it is difficult for freelancers to understand what an editor exactly wants for a pitch. While some editors may post about what they want, information is usually scattered. 

  p Pitchdeck is a solution to that

  p By allowing freelance writers to aggregate information on what editors want, it will be easier for writers to understand what editors actually want, allowing them to get more money by targeting their pieces more effectively.
