doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    img(src='/Images/Logo.png' id='logo')
    header
      a(href='/') Main  
      a(href='/about') About
    block content
